.mySwiper {
  width: auto;
  height: 90%;
}

.swiper-pagination {
  margin-bottom: 10px;
}
.swiper-pagination-bullet {
  background: #d9d9d9 !important;
}
.swiper-pagination-bullet-active {
  background: #616161 !important;
}
