:root {
  --aurora: linear-gradient(94.02deg, #4880ee 5.7%, #b093ee 100%);
  --aurora-shadow: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)
    ),
    linear-gradient(94.02deg, #4880ee 5.7%, #b093ee 100%);

  --aurora-bright: linear-gradient(
    131.54deg,
    #72acff 20.8%,
    rgba(193, 143, 255, 0.57) 70.17%,
    rgba(214, 125, 255, 0.22) 84.35%
  );
  --aurora-bright-shadow: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)
    ),
    linear-gradient(
      131.54deg,
      #72acff 20.8%,
      rgba(193, 143, 255, 0.57) 70.17%,
      rgba(214, 125, 255, 0.22) 84.35%
    );

  --skyblue: #83b4f9;
  --skyblue-shadow: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
    #83b4f9;

  --kakao: #fddc3f;
  --kakao-shadow: #eece38;
}
