#custom {
  margin-top: 26px;
  margin-bottom: 150px;
  .content {
    background-color: #f1f4ff;
  }

  .title {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;

    img {
      margin-right: 14px;
    }
  }

  .accordion-button::after {
    display: none;
  }
}
